.diverse {
    margin-block: 7%;
    position: relative;
    font-family: var(--font-dm-sans);
}

.diverse_content {
    text-align: center;
    padding: 15%;
}

.diverse_content h2 {
    padding: 0px 10px;
    font-size: var(--font-size-h2);
    font-weight: 700;
    line-height: clamp(20px, 3.5vw, 35px);
    letter-spacing: 1.44px;
}

.diverse_content p {
    margin-top: 4%;
    font-size: var(--font-size-sm);
    font-weight: 400;
}

.diverse_img img {
    width: clamp(50px, 6.5vw, 80px);
    height: clamp(50px, 6.5vw, 80px);
}

.img44 {
    position: absolute;
    top: 20%;
    left: -2%;
}


.img42 {
    position: absolute;
    top: 5%;
    left: 35%;
}

.img39 {
    position: absolute;
    top: 0%;
    left: 70%;
}

.img40 {
    position: absolute;
    top: 40%;
    right: 0%;
}

.img41 {
    position: absolute;
    top: 80%;
    left: 70%;
}

.img43 {
    position: absolute;
    top: 80%;
    left: 20%;
}

@media(max-width:550px) {
    .diverse {
        margin-top: 10vw;
    }
}

@media (max-width:450px) {
    .diverse {
        margin-top: 120px;
        margin-bottom: 80px;
    }

    .diverse_content {
        padding: 0%;
    }

    .diverse_content h2 {
        padding: 0px 0px;
        line-height: 1.5rem;
    }

    .diverse_content p {
        padding: 0px 5px;
        font-size: 1rem;
    }

    .diverse_img img {
        display: none;
    }

    .diverse_img {
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
        gap: 25px;
    }

}