.MobileNavbar {
    font-family: var(--font-dm-sans);
    position: fixed;
    top: 0%;
    left: -100%;
    width: 80%;
    height: 100%;
    z-index: 99;
    background-color: var(--color-gray-100);
    box-shadow: 0px 1px 10px 0px #555;
    transition: all .3s ease;
}

.MobileNavbar_active{
    left: 0%;
}


.MobileNavbar_header {
    text-align: center;
    padding: 0.5rem;
}

.MobileNavbar_content ul{
    padding-inline:1rem;
}
.MobileNavbar_content ul li {
    display: block;
    margin-block: 1.5rem;
}
.MobileNavbar_content ul li a{
    font-size: 1.3rem;
    margin-block: 1rem;
}