.practice {
    position: relative;
    font-family: var(--font-dm-sans);
}

.practice h2 {
    font-size: var(--font-size-h2);
    font-weight: 700;
    line-height: clamp(20px, 3.5vw, 40px);
    display: none;
}

.practice ul {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2vw;
    display: none;
}

.practice ul li {
    text-align: center;
    list-style: none;
    border-radius: 1vw;
    border: 1px solid #FFF;
    box-shadow: 0 2px 15px 1px #bcd5fb;
    padding: clamp(10px, 1.5vw, 15px);
    font-size: var(--font-size-sm);
    font-weight: 700;
}


.practice_content {
    margin-block: 15%;
    text-align: center;

}

.practice_content h4 {
    padding-inline: 7vw;
    font-size: clamp(18px, 3vw, 45px);
    font-weight: 500;
    line-height: clamp(20px, 3.5vw, 40px);
}


.practice_form form {
    margin-top: 1rem;
}

.practice_form form input {
    width: 30%;
    padding: 15px;
    outline: 0px;
    border: 1px solid var(--color-white);
    border-right: 0px;
    border-radius: 5px 0px 0px 5px;
}

.practice_content form button {
    text-align: center;
    display: inline-block;
    color: var(--color-gray-100);
    text-transform: uppercase;
    padding: 15px 20px;
    border: 1px solid var(--color-white);
    background-color: var(--color-white);
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    transition: all .3s ease;
}

.practice_content form button:hover {
    background-color: #4073f5;
}


.practice_content button {
    margin-top: 5%;
}

.success{
    margin-top: 10px;
    color: green;
}
/* .practice_gradient {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 40%;
    border-radius: 50%;
    background: radial-gradient(50% 50%at 50% 50%,
            rgba(254, 107, 0, 0.74),
            #bd09ff69);
    filter: blur(140px);
} */

@media(max-width:450px) {
    .practice ul {
        margin-top: 40px;
        row-gap: 30px;
        column-gap: 25px;
        justify-content: center;
    }

    .practice ul li {
        flex-basis: 45%;
    }

    .practice_content h4 {
        padding-inline: 3px;
        font-size: 20px;
        line-height: 1.5rem;
    }

    .practice ul li {
        font-size: 12px;
        box-shadow: 0 1px 10px 0px #bcd5fb;
        border-radius: 0.35rem;

    }

    .practice_content button {
        margin-top: 8%;
    }

  
    .practice_form form input {
        width: 70%;
        padding: 10px;
    }
    .practice_form form button {
        padding: 10px ;
    }
    .practice_gradient {
        filter: blur(110px);
    }
}